<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>

<h1>CLOCK</h1>
<p th:text="'Goal: ' + ${task.goal} + ' minutes'"></p>

<form th:if="!${taskSession}" th:action="'/task/' + ${task.id}" method="post">
    <button type="submit">Start Working!</button>
</form>
<form th:if="${taskSession}" th:action="'/task/' + ${task.id} + '/' + ${taskSession.id}" method="post">
    <button type="submit">Stop Working!</button>
</form>



</body>
</html>